{% extends "base_for_index.html" %}
{% block contents %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">my mall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarColor01" aria-controls="navbarColor01" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="product/">Goods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
             data-bs-toggle="dropdown" href="#" 
             role="button" aria-haspopup="true" 
             aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
        {% if request.session.user %}        
        <button class='btn btn-primary' onclick="location.href='/logout'">로그아웃</button>     
        {% else %}
        <button class='btn btn-primary' onclick="location.href='/login'">로그인</button>
        <button class='btn btn-primary' onclick="location.href='/register'">회원가입</button>
        {% endif %}
    </div>
  </div>
</nav>
<div class="text-center">
    <div style="font-size: 180px; font-weight: bold; line-height: 85%; margin-top: 50px;">Get</div>
    <div style="font-size: 30px; line-height: 75%">what you want</div>
</div>

<div class="row mt-5">
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 align-self-auto">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">상품 이름</div>
            <div class="card-body">
                <h4 class="card-title">준비중인 상품입니다</h4>
                <p class="card-text">현재 이 상품은 준비중에 있습니다. 빠른 시일 내에 업데이트 되도록 저희
                                     회사는 최선을 다하고 있으니 잠시만 기다려주시면 감사드리겠습니다.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}